/* For codeup-design-project.html */
#parent {
    background-color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}


p, span {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: .75em;
}

.last-tweet {
    font-size: 2em;
    font-weight: bold !important;
    border: 1px black solid;
}

.twitter {
    text-transform: none;
    font-size: ;
}

.big-dot {
    height: 105px;
    width: 105px;
    border: .5rem white solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 2rem;
    color: white;
}

.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 9px;
    font-family: 'Anton', sans-serif;
    padding-top: 3px;
}

.dot-red {
    background-color: #E6563B;
}

.dot-orange {
    background-color: #EB9D3A;
}

.dot-green {
    background-color: #7CB06C;
}

.dot-teal {
    background-color: #00ABA9;
}

#frontera {
    border-width: .5rem !important;
}

#fronterita {

}



/*

Colors to use:

#E6563B red
#EB9D3A orange
#7CB06C green
#00ABA9 teal
#F0F0F0 off white
#E6E6E6 gray

Element sizes:
dots 18x18
logo 105x105
big dot 105x105
thumbnails 64x64
*/
